@backdrop-color   : #86604b;

@font-color         : black;
@ui-link-color      : black;
@ui-link-color-hover: rgb(24, 24, 24);
@ui-link-color-click: rgb(32, 32, 32);

@shadow-color: black;
@border-color: #624839;

@content-color: #FFEEAA;
@site-shadow-color: black;

@header-bg-color: #f5c020;
@header-text-color: white;

@sidebar-bg-color: #F2D479;
@sidebar-hover-bg-color: #e6b41e;
@sidebar-active-bg-color: #cf871a;

@debug-print-bg-color: #eed9cc;