@font-face {
	font-family: rubik;
	src: url('/static/3rdparty/fonts/rubik/Rubik-VariableFont_wght.ttf');
	font-weight: 300 900;
}

@font-face {
	font-family: rubik;
	src: url('/static/3rdparty/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf');
	font-weight: 300 900;
	font-style: italic;
}

@font-face {
	font-family: rubikbold;
	src: url('/static/3rdparty/fonts/rubik/Rubik-Bold.ttf');
	font-weight: bold;
}

//@font-face {
//	font-family: rubik;
//	src: url(/static/3rdparty/fonts/rubik/Rubik-Medium.ttf);
//	font-weight: 500;
//}

//@font-face {
//    font-family: 'rubik';
//    src: url('/static/3rdparty/fonts/rubik/rubik-medium-webfont.woff2') format('woff2'),
//         url('/static/3rdparty/fonts/rubik/rubik-medium-webfont.woff') format('woff');
//    font-weight: 500;
//    font-style: normal;
//
//}
//
//@font-face {
//	font-family: rubik;
//	src: url(/static/3rdparty/fonts/rubik/Rubik-Bold.ttf);
//	font-weight: bold;
//}

@font-face {
	font-family: atkinson;
	src: url(/static/3rdparty/fonts/atkinson/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2) format('woff2'),
		 url(/static/3rdparty/fonts/atkinson/WOFF/Atkinson-Hyperlegible-Regular-102.woff) format('woff'),
		 url(/static/3rdparty/fonts/atkinson/TTF/Atkinson-Hyperlegible-Regular-102.ttf) format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: atkinson;
	src: url(/static/3rdparty/fonts/atkinson/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2) format('woff2'),
		 url(/static/3rdparty/fonts/atkinson/WOFF/Atkinson-Hyperlegible-Bold-102.woff) format('woff'),
		 url(/static/3rdparty/fonts/atkinson/TTF/Atkinson-Hyperlegible-Bold-102.ttf) format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: atkinson;
	src: url(/static/3rdparty/fonts/atkinson/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2) format('woff2'),
		 url(/static/3rdparty/fonts/atkinson/WOFF/Atkinson-Hyperlegible-Italic-102.woff) format('woff'),
		 url(/static/3rdparty/fonts/atkinson/TTF/Atkinson-Hyperlegible-Italic-102.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: atkinson;
	src: url(/static/3rdparty/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102.woff2), format('woff2'),
		 url(/static/3rdparty/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102.woff), format('woff'),
		 url(/static/3rdparty/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102.ttf), format('truetype');
		 font-style: italic;
		 font-weight: bold;
}