/* Import Base */
@import "@getbase/base/less/_mixins";
@import "@getbase/base/less/core";

/* Import Base Common */
@import "@getbase/base/less/code";
@import "@getbase/base/less/forms";
@import "@getbase/base/less/tables";
@import "@getbase/base/less/typography";
@import "@getbase/base/less/headings";

/* Add Your Website / App Styles */
@import "styles";

/* Add Additional Modules */
@import "@getbase/base/less/containers";
@import "@getbase/base/less/grid";
@import "@getbase/base/less/horizontal-spacers";
@import "@getbase/base/less/vertical-spacers";
@import "@getbase/base/less/spacers";
@import "@getbase/base/less/typography-helpers";
@import "@getbase/base/less/display-helpers";
@import "@getbase/base/less/flex-helpers";
@import "@getbase/base/less/position-helpers";

/*
@backdrop-color   : #493232;

@font-color         : rgb(255, 255, 255);
@ui-link-color      : rgb(255, 255, 255);
@ui-link-color-hover: rgb(230, 230, 230);
@ui-link-color-click: rgb(201, 201, 201);

@shadow-color: black;
@border-color: #39623b;

@content-color: #343d36;
@site-shadow-color: black;

@header-bg-color: #2baf41;
@header-text-color: white;

@sidebar-bg-color: #31663d;
@sidebar-hover-bg-color: #23521d;
@sidebar-active-bg-color: #0b2008;
*/