@import "default";
@import "fonts";

html {
	background-color: @backdrop-color;
}

body {
	background-color: @backdrop-color;
	margin: 1em 0em;
}

@media only screen and (min-width: 50em) {
	body {
		margin: 1em 5em;
	}
}

.feather {
	width: 1.1em;
	height: 1.1em;
	stroke: @ui-link-color;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	padding: 0px;
	margin: -0px 0px -3px 3px;
}

.feather.sidebar-toggle {
	width: 40px;
	height: 40px;
	stroke-width: 3;
	margin-left: 15%;
}

.feather.sidebar-toggle::selection {
	outline: none;
}

.feather-link:link .feather:visited {
	color: @ui-link-color;
	stroke: @ui-link-color;
}

.feather-link:hover {
	color: @ui-link-color-hover;
	stroke: @ui-link-color-hover;
}

.feather-link:active {
	color: @ui-link-color-click;
	stroke: @ui-link-color-click;
}

.content {
	padding: 0.5em 1em;
	background-color: @content-color;
	box-shadow: 2px 3px 5px @shadow-color;
	font-family: atkinson;
	color: @font-color;
}

.footer {
	.content();
	margin-top: 1em;
}

.database-debug {
	background-color: @debug-print-bg-color;
	border-left: 0.5em solid @header-bg-color;
	padding-left: 1em;
	overflow-x: scroll;
}

.header {
	padding: 0em 0em;
	color: @header-text-color,
}

div.header {
	background-color: @header-bg-color;
	padding: 0em 1em;
	box-shadow: 2px 2px 5px @shadow-color;
	border-bottom: 2px solid @border-color;
}

div.subheader {
	padding: 0em 1em;
	justify-content: space-between;
}

#title {
	padding: 0.1em 0em;
	margin: 0%;
	color: @header-text-color;
	font-family: rubik, sans-serif;
	font-weight: bold;

	text-shadow: 2px 2px 2px @shadow-color
}

div.sidebar {
	margin-bottom: 1em;
	box-shadow: 2px 2px 5px @shadow-color;
	outline: none;
}

.sidebar-entry {
	padding: 0.25em 0.5em;
	display: block;
	background-color: @sidebar-bg-color;
	border-bottom: 2px solid @border-color;
	font-family: rubik, sans-serif;
	font-weight: 500;
	text-decoration: none;
}

a.sidebar {
	.sidebar-entry();
}

p.sidebar {
	.sidebar-entry();
	margin: 0px;
}

a.sidebar:visited {
	color: @ui-link-color;
}

a.sidebar:hover {
	color: @ui-link-color-hover;
	background-color: @sidebar-hover-bg-color;
	outline: none;
	text-decoration: underline;
}

a.sidebar:active {
	color: @ui-link-color-click;
	background-color: @sidebar-active-bg-color;
	outline: none;
}

a.sidebar:link {
	color: @ui-link-color;
//	text-decoration: underline;
}

.sidebar-toggle {
	display: none;
}

@media only screen and (max-width: 980px) {
	aside.sidebar {
		display: none;
	}
	
	aside.sidebar.responsive {
		display: block !important;
	}

	.sidebar-toggle {
		display: flex;
		float: right;
		position: relative;
		padding: 0px 0px !important;
		padding-top: 1px !important;
		font-size: 32px;
	}

	.sidebar-toggle:hover {
		background-color: @sidebar-hover-bg-color;
		outline: none;
	}
	
	.sidebar-toggle:active {
		background-color: @sidebar-active-bg-color;
		outline: none;
	}
}