{{- define "auth-login" -}}
	<a href="/account/register">Register?</a>
	<hr>
	{{- if .EnabledMethods.UsernamePassword -}}
		<a href='/account/login/namepass'>Username Password</a>
	{{- end -}}
{{- end -}}

{{- define "auth-login-namepass" -}}
<form method="POST" enctype="application/x-www-form-urlencoded">
	<label><h2>Authentication</h2></label>
	<label for="username" >Login Username</label><br>
	<input  id="username" name="username"
		type="text"
		pattern="(?:[a-zA-Z])(?:[a-zA-Z0-9-_]*)"            
		minlength="6" maxlength="20"
		placeholder="Login Name" title="Login username, a name used as your reference for logging in, must be a length between 6 and 20 and can only contain a-z 0-9 - and _"
	><br>
	<label for="password">Password</label><br>
	<input  id="password" name="password"
		type="password"
		minlength="8" maxlength="1024"
		placeholder="Password" title="Password, must be at least 8 characters and contain an upper and lowercase letter, a number, and a symbol of some sort"
	><br>

	<input type="submit" title="Login" value="Login">
</form>
{{- end -}}