{{- define "auth-register" -}}
	<a href="/account/login">Login?</a>
	<hr>
	{{- if .EnabledMethods.UsernamePassword -}}
		<a href='/account/register/namepass'>Username Password</a>
	{{- end -}}
{{- end -}}

{{- define "auth-register-namepass" -}}
	<form method="POST" enctype="application/x-www-form-urlencoded">
		<label><h2>Authentication</h2></label>
		<label for="username" >Login Username</label><br>
		<input  id="username" name="username"
			type="text"
			pattern="(?:[a-zA-Z])(?:[a-zA-Z0-9-_]*)"            
			minlength="6" maxlength="20"
			placeholder="Login Name" title="Login username, a name used as your reference for logging in, must be a length between 6 and 20 and can only contain a-z 0-9 - and _"
		><br>
		<label for="password">Password</label><br>
		<input  id="password" name="password"
			type="password"
			minlength="8" maxlength="1024"
			placeholder="Password" title="Password, must be at least 8 characters and contain an upper and lowercase letter, a number, and a symbol of some sort"
		><br>
		
		<label><h2>Profile</h2></label>
		<label for="display-name">Display Name</label><br>
		<input  id="display-name" name="display-name"
			type="text"
			minlength="3" maxlength="32"
			placeholder="Display Name" title="Display name, the name that will be publicly visible and shown to others"
		><br>
		<hr>
		<input type="submit" title="Register" value="Register">
	</form>
{{- end -}}