{{define "base"}}
<!DOCTYPE html>
<html>

<head>
	{{- template "head_css" . -}}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{.Head.Title}}</title>
	{{range .Head.Extras}}
		{{.}}
	{{end}}
</head>

<script src="/static/assets/js/etc.js" nonce="{{.Nonce}}"></script>

<body class="container-xl">

<header class="row-l header">
	<div class="col-1-5-l"></div>
	<div class="col-3-5-l header"><div class="subheader row">
		<h1 class="font-800 col-11" id="title">CreatorList</h1>
		<a id="sidebar-burger-button" class="sidebar-toggle col-1">
			<svg class="feather feather-link sidebar-toggle">
				<use href="/static/icons/feather/feather-sprite.svg#menu"/>
			</svg>
		</a>
	</div></div>
</header>

<div class="row-l">
	<aside class="sidebar col-1-5-l" id="sidebar-button-a"><div class="sidebar">
		<section class="sidebar">
			{{template "sidebar" .}}
		</section>
		
		<section class="sidebar">
			{{.Sidebar}}
		</section>
	</div></aside>
	<div class="col-3-5-l content">
		{{.Content}}
	</div>
	<aside class="sidebar col-1-5-l">
		<section class="sidebar">
			{{template "right-sidebar" .}}
		</section>
	</aside>
</div>
<div class="row-l">
	<div class="col-1-5-l"></div>
	<div class="col-3-5-l footer">
		<pre class="database-debug">
{{.Queries}}
		</pre>
	</div>
</div>
	
</body>
</html>
{{end}}