{{- define "error_generic" -}}
	<h1>{{.ErrorCode}}: {{.ErrorText}}</h1>
	
	{{- if .UserMessage -}}
	<p>{{.UserMessage}}</p>
	{{- end -}}
	
	{{- if .ShowRawError -}}
	<code>
		{{.RawError}}
	</code>
	{{- end -}}
{{- end -}}