{{- define "featherIcon" -}}
<svg class="feather">
	<use href="/static/icons/feather/feather-sprite.svg#{{.}}"/>
</svg>
{{- end -}}

{{- define "featherLink" -}}
<svg class="feather feather-link">
	<use href="/static/icons/feather/feather-sprite.svg#{{.}}"/>
</svg>
{{- end -}}