{{- define "sidebar" -}}

	<a class="sidebar" href="/">{{template "featherLink" "home"}} Home</a>
{{- if .Account.LoggedIn -}}
	<a class="sidebar" href="/account/logout">{{template "featherLink" "log-out"}} Logout</a>
	<p class="sidebar">{{template "featherIcon" "user"}} {{.Account.FormatName}}</p>
{{- else -}}
	<a class="sidebar" href="/account/login">{{template "featherLink" "log-in"}} Login</a>
	<a class="sidebar" href="/account/register">{{template "featherLink" "user-plus"}} Register</a>
	<p class="sidebar">{{template "featherIcon" "user"}} Not Logged in</p>
{{- end -}}

{{- end -}}

{{- define "right-sidebar" -}}
	
{{- end -}}